@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

.about-section {
  padding: 1px 100px 60px;
  background-color: #0d0d0d;
  color: white;
  text-align: left;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Syne', sans-serif;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px 90px;
}

.expertise-item h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  font-family: 'Syne', sans-serif;
}

.expertise-item p {
  font-size: 16px;
  line-height: 1.7;
  color: #ccc;
  font-family: 'Poppins', sans-serif;
}
/* Works section styles */
.works-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-family: 'Syne', sans-serif;
}

.works-header h2 {
  font-size: 36px;
  font-weight: bold;
  
}

.view-all {
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.work-card {
  background: linear-gradient(90deg, #1c1c1e, #2d2d30);
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 32px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.work-image {
  width: 100%;
  max-width: 420px;
  object-fit: cover;
  border-radius: 24px 0 0 24px;
}

.work-content {
  flex: 1;
  /* padding: 32px; */
  padding-left: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
}

.work-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1px;
  font-family: 'Syne', sans-serif;

}

.work-content p {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}
.tags {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.tag {
  border: 1px solid #aaa;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 13px;
}

.view-button {
  padding: 12px 24px;
  margin-top: auto;
  font-size: 14px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  align-self: flex-start;
  transition: background 0.3s;
}

.view-button:hover {
  background-color: #e5e5e5;
}

.experience-section {
  margin-top: 80px;
}

.experience-title {
  font-size: 32px;
  color: white;
  margin-bottom: 0px;
  font-family: 'Syne', sans-serif;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  border-bottom: 1px solid #3a3a3a;
}

.experience-left h3 {
  color: white;
  font-size: 22px;
  font-weight: 20;
  font-family: 'Syne', sans-serif;
}

.experience-right {
  text-align: right;
}

.experience-right h4 {
  font-size: 16px;
  color: white;
  margin-bottom: 4px;
  font-family: 'Syne', sans-serif;
}

.experience-right p {
  font-size: 14px;
  color: #cccccc;
}


